@import '../../index.scss';

.navWrapper {
  border: 0px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.tabMenuWrapper {
  font-size: 1em !important;
}

.tabPane {
  padding: 0px !important;
  margin: 0px !important;
}
